@charset "utf-8";

#json-formatter-unit .input-string,
#json-formatter-unit .output-string
{
    font-family: Monaco, "Noto Mono", monospace;
    font-size: 13px;
    line-height: 1.333em;
    width: 100%;
    resize: vertical;
    padding: 0 0.5em;
    white-space: pre;
    tab-size : 4;
    overscroll-behavior: contain;
}

#json-formatter-unit .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5em 0;
}

#json-formatter-unit .action + .action
{
    margin-left: 0.75em;
}

#json-formatter-unit .options
{
    padding: 0.5em 0 0.75em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#json-formatter-unit .option + .option
{
    margin-left: 0.75em;
}

#json-formatter-unit .output-string
{
    margin-bottom: 0.25em;
}

#json-formatter-unit .output-error
{
    color: var(--color-error);
}

#json-formatter-unit summary
{
    font-weight: bold;
    margin: 1.2em 0 1em 0;
}
