@charset "utf-8";

#json-formatter-unit .input-string,
#json-formatter-unit .output-string
{
    font-family: Monaco, monospace;
    font-size: 13px;
    line-height: normal;
    width: 100%;
    resize: vertical;
    padding: 0.25em 0.5em;
    white-space: pre;
    tab-size : 4;
}

#json-formatter-unit .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5em 0 -0.5em 0;
}

#json-formatter-unit .action + .action
{
    margin-left: 0.5em;
}

#json-formatter-unit .options
{
    padding: 0.5em 0 0.75em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#json-formatter-unit .option + .option
{
    margin-left: 0.5em;
}

#json-formatter-unit .rendering-error
{
    color: var(--color-error);
}
