@charset "utf-8";

#color-names-unit .plain-panel
{
    padding-bottom: 1.5em;
}

#color-names-unit .interface
{
    text-align: center;
    margin-bottom: 1em;
}

#color-names-unit .live-search
{
    width: 16em;
    font-size: 1em;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
}

#color-names-unit table
{
    overflow-x: auto;
    font-size: 13px;
    /* Hidden by default */
    display: none;
}

#color-names-unit table.is-shown
{
    display: block;
}

#color-names-unit tr
{
    vertical-align: middle;
    user-select: text;
    cursor: text;
}

#color-names-unit th,
#color-names-unit td
{
    text-align: left;
    line-height: 1em;
    padding: 0.5em;
}

#color-names-unit td
{
    background-color: white;
}

#color-names-unit td.name
{
    white-space: nowrap;
}

#color-names-unit td.hex
{
    font-family: var(--monospace-family);
}

#color-names-unit th.color
{
    width: 100%;
    text-align: center;
}

#color-names-unit td.color
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

#color-names-unit td.color > div.swatch
{
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-names-unit td.message
{
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

#color-names-unit details
{
    margin: 1.2em 0;
}

#color-names-unit details[open] summary
{
    margin: 1.2em 0;
}

#color-names-unit summary
{
    font-weight: bold;
}

