@charset "utf-8";

#derivative-formulas-unit .plain-panel
{
    padding-top: 0.5em;
    padding-bottom: 1.5em;
}

#derivative-formulas-unit .plain-panel .title
{
    margin: 0.6em 0 0.2em 0;
    text-align: center;
    font-weight: 500;
}

#derivative-formulas-unit .plain-panel .sheet
{
    /* font-size: 1.1em; */
    font-size: 15px;
    text-align: center;
    background-color: white;
    border: 1px solid var(--color-border);
    border-radius: inherit;
    margin-bottom: 0.5em;
    padding: 0 0.25em;
    overflow-x: auto;
}

#derivative-formulas-unit .plain-panel hr
{
    width: 10%;
}

#derivative-formulas-unit details
{
    margin: 1.2em 0;
}

#derivative-formulas-unit details[open] summary
{
    margin: 1.2em 0;
}

#derivative-formulas-unit summary
{
    font-weight: bold;
}

