@charset "utf-8";

#unicode-inspector-unit .plain-panel
{
    padding-bottom: 0.75em;
}

#unicode-inspector-unit .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

#unicode-inspector-unit .actions.code-points-actions
{
    justify-content: space-between;
}

#unicode-inspector-unit .action + .action
{
    margin-left: 0.75em;
}

#unicode-inspector-unit .output-characters-data table
{
    margin: 1.25em 0 1em 0;
}

#unicode-inspector-unit .output-code-points-data table
{
    margin: 1em 0 1em 0;
}

#unicode-inspector-unit .data-list
{
    user-select: auto;
    background-color: white;
}

#unicode-inspector-unit .data-list .data-header-centered
{
    text-align: center;
    font-size: 12px;
    padding: 0.25em 0.5em;
    font-weight: bold;
}

#unicode-inspector-unit .data-list .data-header
{
    text-align: left;
    font-size: 12px;
    padding: 0.25em 0.5em;
    font-weight: bold;
}

#unicode-inspector-unit .data-list .symbol
{
    font-family: sans-serif;
    font-size: 72px;
    height: 1em;
    min-width: 1em;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
    padding: 0.2em;
}

#unicode-inspector-unit .data-list .codes
{
    white-space: nowrap;
}

#unicode-inspector-unit .data-list .codes,
#unicode-inspector-unit .data-list .properties
{
    text-align: left;
    font-size: 12px;
    vertical-align: top;
    line-height: 1.2em;
    font-family: Monaco, "Noto Mono", monospace;
    padding: 0.25em 0.5em;
}

#unicode-inspector-unit .data-list .field
{
    margin: 0.25em 0;
}

#unicode-inspector-unit .input-characters,
#unicode-inspector-unit .output-characters
{
    font-family: sans-serif;
    font-size: 36px;
    padding: 0 0.2em;
    width: 100%;
    tab-size : 4;
    line-height: 48px;
    resize: vertical;
    overflow-y: scroll;
    min-height: calc(1px + 48px + 48px + 1px);
}

#unicode-inspector-unit .input-code-points,
#unicode-inspector-unit .output-code-points
{
    font-family: Monaco, "Noto Mono", monospace;
    font-size: 1em;
    line-height: 1.333em;
    padding: 0.2em 0.4em;
    width: 100%;
    tab-size : 4;
}

#unicode-inspector-unit .characters-to-code-points
{
    margin: 1em 0;
}

#unicode-inspector-unit .input-characters
{
    margin: 0 0 0.25em 0;
}

#unicode-inspector-unit .code-points-to-characters
{
    margin: 1em 0 0.75em 0;
}

#unicode-inspector-unit .input-code-points
{
    margin: 0 0 1em 0;
}

#unicode-inspector-unit summary
{
    font-weight: bold;
    margin: 1.2em 0 1em 0;
}
