@charset "utf-8";

#system-information-unit h2
{
    text-align: center;
    user-select: text;
}

#system-information-unit table
{
    display: block;
    overflow-x: scroll;
    color: var(--color);
    background-color: white;
    margin-bottom: 0.25em;
}

#system-information-unit tr
{
    font-size: 13px;
    line-height: 1.5em;
    user-select: text;
}

#system-information-unit th,
#system-information-unit td
{
    padding: 0.1em 0.5em;
    text-align: left;
    white-space: nowrap;
}

#system-information-unit td
{
    font-family: Monaco, "Noto Mono", monospace;
    width: 100%;
}

#system-information-unit td.disabled
{
    font-style: italic;
    color: gray;
}

#system-information-unit summary
{
    font-weight: bold;
    margin: 1.2em 0 1em 0;
}
