<section id="prefectures-of-japan-unit">
    <h1><span lang="ja">都道府県</span></h1>
    <div class="plain-panel">
        <div class="interface">
            <input class="live-search" type="search">
        </div>
        <div class="prefectures-container"></div>
    </div>
    <div class="accent-panel">
        <details class="references">
            <summary><span lang="ja">参照</span></summary>
            <div class="links"></div>
        </details>
    </div>
</section>
