@charset "utf-8";

#unicode-data-finder-unit .plain-panel
{
    padding-bottom: 1em;
}

#unicode-data-finder-unit .action-group
{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0.5em 0;
    white-space: nowrap;
}

#unicode-data-finder-unit .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

#unicode-data-finder-unit .search-string
{
    width: 20em;
    font-size: 1em;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
}

#unicode-data-finder-unit .search-string.error
{
    color: var(--color-error);
}

#unicode-data-finder-unit input[type=checkbox]
{
    display: none;
}

#unicode-data-finder-unit input[type=checkbox] + svg
{
    font-size: 1.7em;
    line-height: 1em;
    text-align: center;
    padding: 1px;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background: white;
    border: 1px solid var(--color-accent);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    color: var(--color-accent);
    fill: var(--color-accent);
}

#unicode-data-finder-unit input[type=checkbox]:checked + svg
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0.15));
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5);
    color: white;
    fill: white;
}

#unicode-data-finder-unit .search-group .action
{
    margin-right: 0.5em;
}

#unicode-data-finder-unit .search-info
{
    text-align: left;
    font-size: small;
    /* color: gray; */
    margin: -0.25em 0 0.5em 0;
}

#unicode-data-finder-unit .pagination-bar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin: 1em 0 -0.25em 0;
}

#unicode-data-finder-unit .pagination-bar[hidden]
{
    display: none;
}

#unicode-data-finder-unit .pagination-bar .pagination-group
{
    white-space: nowrap;
    display: flex;
}

#unicode-data-finder-unit .pagination-bar .page-select:disabled
{
    pointer-events: none;
}

#unicode-data-finder-unit .pagination-bar .page-select,
#unicode-data-finder-unit .pagination-bar .page-nav-button
{
    margin-right: 1em;
}

#unicode-data-finder-unit .pagination-bar .page-select
{
    font-family: Monaco, "Noto Mono", monospace;
    font-size: 1em;
    padding: 0.2em 0.4em;
    text-align: right;
}

#unicode-data-finder-unit .pagination-bar .page-nav-button
{
    width: 2.4em;
    border-radius: 0;
}

#unicode-data-finder-unit .pagination-bar .page-nav-button svg.page-nav-icon
{
    width: 1em;
    height: 1em;
    vertical-align: bottom;
    fill: currentColor;
}

#unicode-data-finder-unit .pagination-bar .page-info
{
    margin: 0 1em 0 0.5em;
}

#unicode-data-finder-unit .search-by-name-data .data-table
{
    margin: 0.75em 0;
}

#unicode-data-finder-unit .search-by-name-data .symbol-header,
#unicode-data-finder-unit .search-by-name-data .code-point-header,
#unicode-data-finder-unit .search-by-name-data .name-header
{
    text-align: left;
    line-height: 1em;
    padding: 0.5em;
}

#unicode-data-finder-unit .search-by-name-data .row
{
    user-select: auto;
    background-color: white;
}

#unicode-data-finder-unit .search-by-name-data .symbol-header
{
    text-align: center;
}

#unicode-data-finder-unit .search-by-name-data .symbol
{
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5em;
    line-height: 1.2em;
    max-width: 1em;
    padding: 0.25em;
}

#unicode-data-finder-unit .search-by-name-data .code-point
{
    font-family: Monaco, "Noto Mono", monospace;
    text-align: left;
    line-height: 1em;
    vertical-align: middle;
    padding: 0.5em;
}

#unicode-data-finder-unit .search-by-name-data .names
{
    text-align: left;
    vertical-align: middle;
    padding: 0.5em;
    width: 100%;
}

#unicode-data-finder-unit .search-by-name-data .names .name,
#unicode-data-finder-unit .search-by-name-data .names .alias,
#unicode-data-finder-unit .search-by-name-data .names .correction
{
    margin: 0.25em 0;
}

#unicode-data-finder-unit .search-by-name-data .names .name
{
    line-height: 1em;
}

#unicode-data-finder-unit .search-by-name-data .names .alias,
#unicode-data-finder-unit .search-by-name-data .names .correction
{
    font-size: 0.85em;
    font-style: italic;
    line-height: 1em;
}

#unicode-data-finder-unit .search-by-name-data .names .correction::after
{
    content: "\A0*";
}

#unicode-data-finder-unit summary
{
    font-weight: bold;
    margin: 1.2em 0 1em 0;
}
