@charset "utf-8";

#technical-definitions-unit .plain-panel
{
    padding-bottom: 0.75em;
}

#technical-definitions-unit .plain-panel .interface
{
    text-align: center;
    margin: 0.5em 0 1.5em 0;
}

#technical-definitions-unit .plain-panel .sheet
{
    background-color: white;
    border: 1px solid var(--color-border);
    border-radius: inherit;
    margin-bottom: 1em;
    padding: 0.75em;
    user-select: text;
    cursor: text;
}

#technical-definitions-unit .plain-panel .list
{
    padding: 0;
    margin: 0.5em 1em 0.75em 1em;
}

#technical-definitions-unit .plain-panel .list > .definition
{
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 0.5em;
}

#technical-definitions-unit .plain-panel .term
{
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#technical-definitions-unit .plain-panel .term::after
{
    font-weight: normal;
    content: " :";
}

#technical-definitions-unit .plain-panel .details
{
    padding: 0;
    margin: 0 0 0.5em 1em;
}

#technical-definitions-unit .plain-panel .details sup
{
    font-size: 0.7em;
    margin: 0 0.1em;
}

#technical-definitions-unit details
{
    margin: 1.2em 0;
}

#technical-definitions-unit details[open] summary
{
    margin: 1.2em 0;
}

#technical-definitions-unit summary
{
    font-weight: bold;
}

