@charset "utf-8";

#cidr-calculator-unit code
{
    user-select: text;
}

#cidr-calculator-unit code,
#cidr-calculator-unit input,
#cidr-calculator-unit textarea
{
    font-family: Monaco, "Noto Mono", monospace;
    font-size: 13px;
    line-height: 1.333em;
    overscroll-behavior: contain;
}

#cidr-calculator-unit .ip-range-output
{
    resize: none;
}

#cidr-calculator-unit .cidr-list-output
{
    resize: vertical;
}

#cidr-calculator-unit .plain-panel
{
    padding-bottom: 0.25em;
}

#cidr-calculator-unit .plain-panel div
{
    margin-bottom: 1em;
}

#cidr-calculator-unit summary
{
    font-weight: bold;
    margin: 1.2em 0 1em 0;
}
