@charset "utf-8";

#list-of-us-states-unit .interface
{
    text-align: center;
    margin-bottom: 1em;
}

#list-of-us-states-unit .live-search
{
    width: 12em;
    font-size: 1em;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
}

#list-of-us-states-unit table
{
    color: var(--color);
    margin: 0.5em 0;
}

#list-of-us-states-unit tr
{
    user-select: text;
    cursor: text;
}

#list-of-us-states-unit tr:nth-child(even) td
{
    background-color: white;
}

#list-of-us-states-unit tr:nth-child(odd) td
{
    background-color: var(--color-bg);
}

#list-of-us-states-unit th
{
    background-color: var(--color-border);
    white-space: nowrap;
}

#list-of-us-states-unit td,
#list-of-us-states-unit th
{
    padding: 0.1em 0.5em;
    text-align: left;
}

#list-of-us-states-unit td.abbreviation,
#list-of-us-states-unit th.abbreviation
{
    width: 8em;
}

#list-of-us-states-unit td.abbreviation
{
    font-family: var(--monospace-family);
}

#list-of-us-states-unit td.state,
#list-of-us-states-unit th.state,
#list-of-us-states-unit td.city,
#list-of-us-states-unit th.city
{
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#list-of-us-states-unit td.message
{
    text-align: center;
    font-style: italic;
}

#list-of-us-states-unit details
{
    margin: 1.2em 0;
}

#list-of-us-states-unit details[open] summary
{
    margin: 1.2em 0;
}

#list-of-us-states-unit summary
{
    font-weight: bold;
}

