@charset "utf-8";

#iso-script-codes-unit .interface
{
    text-align: center;
    margin-bottom: 1em;
}

#iso-script-codes-unit .live-search
{
    width: 12em;
    font-size: 1em;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
}

#iso-script-codes-unit table
{
    color: var(--color);
    margin: 0.5em 0;
}

#iso-script-codes-unit tr
{
    user-select: text;
    cursor: text;
}

#iso-script-codes-unit tr:nth-child(even) td
{
    background-color: white;
}

#iso-script-codes-unit tr:nth-child(odd) td
{
    background-color: var(--color-bg);
}

#iso-script-codes-unit th
{
    background-color: var(--color-border);
    white-space: nowrap;
}

#iso-script-codes-unit td,
#iso-script-codes-unit th
{
    padding: 0.1em 0.5em;
    text-align: left;
}

#iso-script-codes-unit td.code,
#iso-script-codes-unit th.code
{
    width: 4em;
}

#iso-script-codes-unit td.code
{
    font-family: var(--monospace-family);
}

#iso-script-codes-unit td.script,
#iso-script-codes-unit th.script
{
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#iso-script-codes-unit td.message
{
    text-align: center;
    font-style: italic;
}

#iso-script-codes-unit details
{
    margin: 1.2em 0;
}

#iso-script-codes-unit details[open] summary
{
    margin: 1.2em 0;
}

#iso-script-codes-unit summary
{
    font-weight: bold;
}

