@charset "utf-8";

#text-scratchpad-unit .text-string
{
    font-family: Monaco, monospace;
    font-size: 13px;
    line-height: 1.333em;
    width: 100%;
    padding: 0 0.5em;
    overflow-y: scroll;
    resize: vertical;
    tab-size : 4;
}

#text-scratchpad-unit .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
}

#text-scratchpad-unit .action-group
{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#text-scratchpad-unit .action-group + .action-group,
#text-scratchpad-unit .action + .action
{
    margin-left: 0.75em;
}

#text-scratchpad-unit .plain-panel
{
    padding-bottom: 1.25em;
}
