@charset "utf-8";

#css-cursors-demo-unit h2
{
    text-align: center;
    user-select: text;
}

#css-cursors-demo-unit table
{
    display: block;
    color: var(--color);
    background-color: white;
    margin-bottom: 0.75em;
}

#css-cursors-demo-unit tr
{
    user-select: text;
}

#css-cursors-demo-unit th,
#css-cursors-demo-unit td
{
    vertical-align: middle;
}

#css-cursors-demo-unit th
{
    width: 12em;
    font-family: Monaco, "Noto Mono", monospace;
    font-size: 14px;
    padding: 0.5em 1em;
    height: 5em;
    white-space: nowrap;
    text-align: center;
}

#css-cursors-demo-unit td
{
    padding: 0.5em 1em;
    text-align: left;
}

#css-cursors-demo-unit summary
{
    font-weight: bold;
    margin: 1.2em 0 1em 0;
}
