@charset "utf-8";

#emoji-picture-book-unit h1.debug
{
    text-decoration: underline overline;
}

#emoji-picture-book-unit .interface
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    margin-bottom: -0.5em;
}

#emoji-picture-book-unit .option
{
    text-align: left;
}

#emoji-picture-book-unit .option + .option
{
    margin-left: 0.75em;
}

#emoji-picture-book-unit .plain-panel
{
    text-align: center;
    padding-bottom: 1.5em;
}

#emoji-picture-book-unit .plain-panel h2
{
    user-select: auto;
}

#emoji-picture-book-unit .plain-panel .sheet
{
    background-color: white;
    border: 1px solid var(--color-border);
    border-radius: inherit;
    margin: 0;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", sans-serif;
    font-size: 7.2em;
    line-height: 1.4em;
    padding: 0.2em;
    width: 100%;
    user-select: auto;
}

#emoji-picture-book-unit .plain-panel .sheet .emoji
{
    display: inline-block;
    align-items: center;
    width: 1.25em;
    white-space: nowrap;
}

#emoji-picture-book-unit summary
{
    font-weight: bold;
    margin: 1.2em 0 1em 0;
}
